.header {
  padding: 2rem 1rem 3rem;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  color: #eee;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.shadow-wrapper {
  filter: drop-shadow(2px 6px 12px #000);
}

.container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin:0 auto;
}

.title {
  color: inherit;
  font-size: 3rem;
  text-decoration: none;
  -webkit-text-stroke: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 3px #000; 
}

.nav-list {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-bottom: .5rem;
}

.nav-item {
  color: #ddd;
  text-decoration: none;
  transition: all 0.4s;
  position: relative;
  &:before,&:after {
    content: " ";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 7px;
    margin: 10px 0 0;
    transition: all 0.4s;
    opacity: 0;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    left: 0;
    border-radius: 4444px;
  }
  &:hover {
    color: #92FE9D;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

.active-nav-item {
  color: #00C9FF;
  &:before,
  &:after {
    width: 100%;
    opacity: 1;
  }

}
